@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-color: ghostwhite;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.content {
  max-width: 1200px;
  margin:  auto;
}
