/* Font Start */
@import url('https://fonts.googleapis.com/css?family=Lato:400|Sora:400');
html {font-size: 100%;} /*16px*/
body {
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  margin-top: 0px;
  margin: 0px;
}
p {margin-bottom: 1rem;}
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  padding-top: 0;
  font-size: 2.488rem;
}
h2 {font-size: 2.074rem;}
h3 {font-size: 1.728rem;}
h4 {font-size: 1.44rem;
    line-height: .5}
h5 {font-size: 1.2rem;}
small, .text_small {font-size: 0.833rem;}
/* Font End */

main {
  max-width: 1010px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7vh;
}

.header_div {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7vh;
}

.inner_main {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

/* Back to Top Start*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* Back to Top End*/


/* Button Start */
#myBtn:hover {
  border:solid 2px #3c3cb4;
  background-color: yellow;
  color: black;
}

#myBtn:focus {
  border:solid 2px #3c3cb4;
  background-color: yellow;
  color: black;
}
/* Button End */

/* Link List Start */
#link_list {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#link_list a {
  padding: 0px;
  margin: 0px;
}
/* Link List End */

/* List Start */
ul.horz_list {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li.horz_item {
  float: left;
  padding-right: 24px;
}

li.horz_item a {
  display: block;
  text-align: center;
  text-decoration: underline;
}

li a:visited {
  color: #0000EE;
}

li a:hover {
  color: #3c3cb4;
}

a:focus {
  border:solid 2px #3c3cb4;
  background-color: yellow;
}
/* List End */

/* List 2 Start */
ul.horz_list2 {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  color: black;
}

ul.horz_list2 a {
  background: #e3e3e3;
  color: black;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  border-radius: 24px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 16px;
}

ul.horz_list2 a:hover{
  color: black;
  background: #e8e8e8;
  cursor: default;
}
/* List 2 End */

/* List 3 Start */
ul.horz_list3  {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  color: black;
}

ul.horz_list3 a {
  padding: 0;
  overflow: hidden;
  padding-bottom: 16px;
}
/* List 3 End */

/* Table Start */
table, th, td {
  text-align:left;
  width:100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid #f5f5f5;
}

th {
  border-bottom: 1pt solid #fff;
}

th, td {
  width: 50%;
  padding-right: 20px;
}

#work_table td{
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}

#work_table a {
  display:block;
  text-decoration: none;
}

#work_table td:hover {
  background-color: #ddd;
  text-decoration: underline;
  padding-left: 8px;
}

#fun_table th {
}

#fun_table td{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}

#fun_table a {
  display:block;
  text-decoration: none;
}

#fun_table td:hover{

}
/* Table End */

/* Footer Start */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 32px;
}
/* Footer End */

.button{
   height:40px;
   width:100px;
   border-radius: 30px;
   border: 2px solid black;
   background-color: rgba(51, 170, 51, 0);
   color:black;
}

.fig_caption {
  padding-bottom: 24px;
}

.fig_caption_hero {
  padding-bottom: 24px;
  text-align: center;
}

/* Lightbox Carousel Start*/
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Lightbox Carousel End*/

#objective {
}

.imageAnchor:focus img{
    border: 2px solid blue;
}


/* image fun grid */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}